<div class="mt-5">
  <div class="detail-container " style="margin: 0 25%">
    <h1 class="text-center">STUDENT'S INFORMATION</h1>
    <div class="mt-3">
      <div class="row">
        <div class="col-4">Name:</div>
        <div class="col-8">{{stname}}</div>
      </div>
      <div class="row">
        <div class="col-4">Course:</div>
        <div class="col-8">{{course}}</div>
      </div>
      <div class="row">
        <div class="col-4">Fee:</div>
        <div class="col-8">{{fee}}</div>
      </div>
    </div>
  </div>
</div>
